In [1]:
import findspark
findspark.init()
from pyspark import SparkContext


transactions = [
    {'name': 'Raju', 'amount': 100, 'city': 'Chennai'},
    {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'},    
    {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'},
    {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'},
    {'name': 'Revati', 'amount': 200, 'city': 'Chennai'},
    {'name': 'Amrita', 'amount': 75, 'city': 'Pune'},
    {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'},
    {'name': 'Keertana', 'amount': 105, 'city': 'Pune'},
    {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'},
    {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}]

print(transactions)

[{'name': 'Raju', 'amount': 100, 'city': 'Chennai'}, {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'}, {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}, {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'}, {'name': 'Revati', 'amount': 200, 'city': 'Chennai'}, {'name': 'Amrita', 'amount': 75, 'city': 'Pune'}, {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'}, {'name': 'Keertana', 'amount': 105, 'city': 'Pune'}, {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}, {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}]

In [2]:
sc=SparkContext("local", "partitionby")

def custom_partitioner(city): 
    if (city == 'Chennai'):
        return 0;
    elif (city == 'Hyderabad'):
        return 1;
    elif (city == 'Vijayawada'):
        return 1;
    elif (city == 'Pune'):
        return 2;
    else:
        return 3;      



rdd1 = sc.parallelize(transactions, 3).map(lambda d: (d['city'], d))
rdd1.collect()

[('Chennai', {'name': 'Raju', 'amount': 100, 'city': 'Chennai'}),
 ('Hyderabad', {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
 ('Hyderabad', {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'}),
 ('Chennai', {'name': 'Revati', 'amount': 200, 'city': 'Chennai'}),
 ('Pune', {'name': 'Amrita', 'amount': 75, 'city': 'Pune'}),
 ('Bangal   ore', {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'}),
 ('Pune', {'name': 'Keertana', 'amount': 105, 'city': 'Pune'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'})]

In [3]:

rdd1.glom().collect()

[[('Chennai', {'name': 'Raju', 'amount': 100, 'city': 'Chennai'}),
  ('Hyderabad', {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'})],
 [('Hyderabad', {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'}),
  ('Chennai', {'name': 'Revati', 'amount': 200, 'city': 'Chennai'}),
  ('Pune', {'name': 'Amrita', 'amount': 75, 'city': 'Pune'})],
 [('Bangal   ore', {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'}),
  ('Pune', {'name': 'Keertana', 'amount': 105, 'city': 'Pune'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'})]]

In [4]:
rdd2 = rdd1.partitionBy(3, custom_partitioner)
rdd2.collect()

[('Chennai', {'name': 'Raju', 'amount': 100, 'city': 'Chennai'}),
 ('Chennai', {'name': 'Revati', 'amount': 200, 'city': 'Chennai'}),
 ('Bangal   ore', {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'}),
 ('Hyderabad', {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
 ('Hyderabad', {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
 ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
 ('Pune', {'name': 'Amrita', 'amount': 75, 'city': 'Pune'}),
 ('Pune', {'name': 'Keertana', 'amount': 105, 'city': 'Pune'})]

In [5]:
rdd2.glom().collect()

[[('Chennai', {'name': 'Raju', 'amount': 100, 'city': 'Chennai'}),
  ('Chennai', {'name': 'Revati', 'amount': 200, 'city': 'Chennai'}),
  ('Bangal   ore', {'name': 'Aditya', 'amount': 175, 'city': 'Bangal   ore'})],
 [('Hyderabad', {'name': 'Mahesh', 'amount': 15, 'city': 'Hyderabad'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
  ('Hyderabad', {'name': 'Madhu', 'amount': 51, 'city': 'Hyderabad'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'}),
  ('Vijayawada', {'name': 'Keertana', 'amount': 105, 'city': 'Vijayawada'})],
 [('Pune', {'name': 'Amrita', 'amount': 75, 'city': 'Pune'}),
  ('Pune', {'name': 'Keertana', 'amount': 105, 'city': 'Pune'})]]

In [6]:
sc.stop()